{% extends '::base.html.twig' %}

{% block body -%}
    <a href="{{ path('question_edit',{'id': entity.question.id} )}}">
        Back
    </a>
    <h1>Variant edit</h1>

    {{ form(edit_form) }}


{% endblock %}
