h2{
  color: #ff0000;
}
.meeting-card{
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  border:1px solid black;
  width: 500px;
  margin: 0 auto;
}
hr{
  margin: 50px auto;
  width: 25%;
  text-align: center;
}
p{
  color: #0088CC;
  font-size: medium;
}
.meeting-detail {
  background-color: #d0e9c6;
  font-size: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid black;
  min-width: 500px;
  min-height: 400px;
  margin: 5px;
}
img{
  padding:4px;
}




