{% extends '::base.html.twig' %}

{% block body -%}
    <a class="btn btn-primary" href="{{ path('test') }}">
        Back
    </a>

    <h1>Test edit</h1>
    {{ form(edit_form) }}
    {% set questions = entity.questions %}
    <h3>Questions</h3>
    {% if questions is not null %}
        {% for q in questions %}
            <ul>
                <li><a href="{{ path('question_edit', {'id': q.id}) }}">{{ q.title }}</a></li>
            </ul>
        {% endfor %}
    {% else %}

        <h5>No Questions</h5>
    {% endif %}
    <a class="btn btn-success" href="{{ path('question_new', {'id': entity.id}) }}">Add Question</a>

   {% endblock %}
