<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets  filter='cssrewrite'
            '@TaskBundle/Resources/public/css/reset.css'
            '@TaskBundle/Resources/public/css/bootstrap.min.css'
            '@TaskBundle/Resources/public/css/bootstrap-theme.min.css'
            '@TaskBundle/Resources/public/less/*'
            output='css/general.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <header style="height: 50px">
        <div style="text-align: right; padding-right: 30px">
            <a href="{{ path('logout') }}">Logout</a>
        </div>
    </header>
        <div id="wrapper" class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts
            '@TaskBundle/Resources/public/scripts/jquery.min.js'
            '@TaskBundle/Resources/public/scripts/bootstrap.min.js'
            '@TaskBundle/Resources/public/scripts/ajax.form.js'
            '@TaskBundle/Resources/public/scripts/app.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
