{% extends '::base.html.twig' %}

{% block body -%}
    <a class="btn btn-primary" href="{{ path('test_edit', {'id': entity.test.id}) }}">
        Back
    </a>

    <h1>Question edit</h1>
    {{ form(edit_form) }}
    {% set variants = entity.variants %}
    <h3>Variants</h3>
        {% if variants is not null %}
        {% for v in variants %}
            <ul>

                <li><a href="{{ path('variant_edit', {'id': v.id}) }}"{% if v.correctly == true %} style="color: green"{% endif %}>{{ v.title }}</a></li>
            </ul>
        {% endfor %}
        {% else %}
            <h5>No Variants</h5>
        {% endif %}
    <a class="btn btn-success" href="{{ path('variant_new', {'id': entity.id}) }}">Add Variant</a>

{% endblock %}


