{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Test list</h1>

        {% for test in tests %}
            <ul>
                <li><a href="{{ path('test_new') }}">{{ test.title }}</a></li>
            </ul>
        {% endfor %}

{% endblock %}
