{% extends '::base.html.twig' %}

{% block body -%}

    <h4>{{ test.title }}</h4>
    {% for q in questions %}
        <ul>
            <li>{{ q.title }}</li>
            <li>
                <ul style="padding-left: 20px">
                    {% for v in q.variants %}
                        <li {% if v.correctly == true %} style="color: green"{% endif %}>{{ v.title }}</li>

                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}

{% endblock %}
